.header {
    @include section;
    
    border-bottom: 1px solid #ECECEC;

    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header__conteiner {
    @include container;

    display: flex;
    align-items: center;

    padding-top: 0;
    padding-bottom: 0;

    }